/* Body */
body{
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */
#header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;

}

#logo{
  display: flex;
  align-items: center;
}

#logo img{
  height: 50px;
  margin-left: 10px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation ul{
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  list-style-type:none;

}

#navigation a{
  color:seashell;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

/* Our Mission */

#mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  width:1200px;
  height: 700px;
  margin-top: 70px;
}

.mission-text{
  background-color: black;
  margin-top: 160px;
  width:1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4px;

}

/*Tea of the Month/Featured Tea */
#featuredtea{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.featuredtea-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  line-height: 7px;

}

#images{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blitz img{
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.rum img{
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.donut img{
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.myrtle img{
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.bedford img{
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.lable{
  display: flex;
  justify-content: center;
  margin-left: 40px;
  line-height: 4px;
}

/* Locations */
#locations{
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 570px;
  margin-top: 60px;
  padding-top: 25px;
}

.location-text {
  display: flex;
  justify-content: center;

}

#buildings{
  display: flex;
  justify-content: center;
}

.downtown, .bayside, .oakdale{
  background-color: black;
  margin-top: 15px;
  margin-left: 40px;
  width:300px;
  opacity: 1;
}

.area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Footer */
.info{
  text-align: center;
  height: 200px;
}

.copyrights{
  text-align: left;
  margin-left: 20px;
}
